* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(60, 45, 55);
    color: aliceblue;
    padding: 25px 60px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.cart-icon {
    background-color: orange;
    color: rgb(56, 55, 50);
    padding: 8px;
    font-size: 25px;
    position: relative;
    text-align: right;
    /* float: right; */
}

p {
    padding-left: 20px;
}

.cartAmount {
    margin: 0px 17px 0px 22px;
    font-size: 15px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 3px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 90px;
    padding: 2px 229px;
    justify-content: center;
}

.item {
    border: solid 1px black;
}

@media(max-width:994px) {
    .shop {
        grid-template-columns: repeat(2, 290px);
    }
}

@media(max-width:500) {
    .shop {
        grid-template-columns: repeat(1, 290px);
    }
}

.item {
    border: solid 2px black;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

img {
    width: 240px;
    justify-content: center;
}

.details {
    padding: 12px 57px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    /* width: 150px;
    padding-left: 8.5%;
    padding-top: 2%; */
    gap: 7px;
}

a {
    text-decoration: aliceblue;
}

h3 {
    padding-left: 5px;
}